body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  line-height: $line-height-sm;
  color: $neutral-800;
}

img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}
