// analyze頁面

.position-fixed{
  position: fixed;
}

.bg-surface-50{
  background-color:#FFF8F2 ;
}

.moodFood{
  svg{
    width: 30px;
    height: 30px;
  }
}

.moodFood-red{
  background-color:#FF6666 ;
}

.moodFood-blue{
  background-color: #109CCA;
}

.moodFood-green{
  background-color: #57AA98;
}

.moodFood-yellow{
  background-color: #F7BA00;
}

.motivationMood{
  width: 40px;
  height: 40px;
  background-color:#97D1C2 ;
}


// 心情趨勢
.w-12_5{
    width: 12.5%;
    box-sizing: border-box;
    text-align: center;
}

.moodLine{
    width: 1px;
    height: 112px;
    background-color: #e7e7e7;
}

.moodCircle{
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #888888;
    position: absolute;
    left: -2px;
}

.bottom-34{
    bottom: 34%;
}