<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../assets/scss/all.scss" />
    <title>設定目標時間</title>
  </head>
  <body>
    <main class="py-4 d-flex justify-content-center bg-primary-500">
      <section class="cell-phone bg-surface-bg z-0">
        <%- include('./layout/header'); -%>

        <form action="/">
          <main class="d-flex flex-column custom-height">
            <div class="py-3 px-4 d-flex align-items-center mt-3">
              <a href="target_date.html" class="btn p-2 border-0"
                ><img
                  src="/assets/images/left_line.svg"
                  alt="回上一頁"
                  class="d-block"
              /></a>
              <h1
                class="fs-6 fw-bold lh-1 mb-0 flex-grow-1 text-center text-neutral-800"
              >
                規律飲食
              </h1>
            </div>
            <!-- 設定提醒時間 -->
            <p class="text-black lh-38 ms-10 mb-4">健康飲食從規律開始吧!</p>
            <div class="position-relative mb-4">
              <div class="target-deco">
                <img src="/assets/images/eattingrice.png" alt="eattingrice" />
              </div>
              <div class="bg-white p-3 border-radius-12 mx-4">
                <div>
                  <p class="text-neutral-800 fw-bold lh-18 py-7 mb-7">
                    設定每日提醒時間
                  </p>
                  <div>
                    <!-- 早餐提醒 -->
                    <button
                      type="button"
                      class="btn bg-primary-50 py-3 px-18 border-0 border-radius-12 mb-2 d-flex justify-content-between align-items-center gap-2 w-100"
                    >
                      <div class="text-start">
                        <p class="fs-8 text-primary-800 mb-1">早餐</p>
                        <h3 class="text-primary-950 fs-32 mb-0">09:00</h3>
                      </div>
                      <div>
                        <div class="form-check form-switch mb-0">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="breakfast-switch"
                            checked
                          />
                          <label
                            class="form-check-label visually-hidden"
                            for="breakfast-switch"
                            >早餐提醒</label
                          >
                        </div>
                      </div>
                    </button>
                    <!-- 午餐提醒 -->
                    <button
                      type="button"
                      class="btn bg-primary-50 py-3 px-18 border-0 border-radius-12 mb-2 d-flex justify-content-between align-items-center gap-2 w-100"
                    >
                      <div class="text-start">
                        <p class="fs-8 text-primary-800 mb-1">午餐</p>
                        <h3 class="text-primary-950 fs-32 mb-0">12:00</h3>
                      </div>
                      <div>
                        <div class="form-check form-switch mb-0">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="lunch-switch"
                            checked
                          />
                          <label
                            class="form-check-label visually-hidden"
                            for="lunch-switch"
                            >午餐提醒</label
                          >
                        </div>
                      </div>
                    </button>
                    <!-- 晚餐提醒 -->
                    <button
                      type="button"
                      class="btn bg-primary-50 py-3 px-18 border-0 border-radius-12 d-flex justify-content-between align-items-center gap-2 w-100"
                    >
                      <div class="text-start">
                        <p class="fs-8 text-primary-800 mb-1">晚餐</p>
                        <h3 class="text-primary-950 fs-32 mb-0">19:30</h3>
                      </div>
                      <div>
                        <div class="form-check form-switch mb-0">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="dinner-switch"
                            checked
                          />
                          <label
                            class="form-check-label visually-hidden"
                            for="dinner-switch"
                            >晚餐提醒</label
                          >
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 下一步按鈕 -->
            <div class="mx-3 mt-auto mb-28">
              <a
                href="target_confirm.html"
                class="btn btn-primary-300 text-primary-950 fw-bold lh-sm py-3 rounded-pill w-100"
                >下一步</a
              >
            </div>
          </main>
        </form>

        <!-- 導覽列區塊 -->
        <%- include('./layout/footer_personal'); -%>
      </section>
    </main>

    <script type="module" src="../main.js"></script>
    <script src="../change_page.js"></script>
  </body>
</html>
