<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/scss/all.scss" />
    <title>確認設定目標</title>
  </head>
  <body>
    <main class="py-4 d-flex justify-content-center bg-primary-500">
      <section class="cell-phone bg-confirm">
        <%- include('./layout/header'); -%>

        <form action="/">
          <main class="d-flex flex-column custom-height">
            <div class="py-3 px-4 d-flex align-items-center mt-3">
              <a href="target_time.html" class="btn p-2 border-0"
                ><img
                  src="/assets/images/left_line.svg"
                  alt="回上一頁"
                  class="d-block"
              /></a>
              <h1
                class="fs-6 fw-bold lh-1 mb-0 flex-grow-1 text-center text-neutral-800"
              >
                規律飲食
              </h1>
            </div>
            <!-- 確認設定目標 -->
            <p class="text-primary-950 lh-38 text-center mb-23">
              只差最後一步，確認你設定的目標
            </p>
            <div class="goals-img mb-23">
              <img
                src="/assets/images/personal_goals.svg"
                alt="personal_goals"
              />
            </div>
            <div class="d-flex gap-3 mx-3 h-120 mb-18">
              <div
                class="text-white lh-sm fw-bold rounded-3 border border-primary-50 mb-0 flex-grow-1 min-w-163 d-flex flex-column justify-content-center align-items-center"
              >
                <h2 class="fs-6 mb-1">每週次數</h2>
                <p class="fs-48 mb-0">5</p>
              </div>
              <div
                class="text-white lh-sm fw-bold rounded-3 border border-primary-50 mb-0 flex-grow-1 min-w-163 d-flex flex-column justify-content-center align-items-center"
              >
                <h2 class="fs-6 mb-1">開始日期</h2>
                <p class="fs-48 mb-0">9/21</p>
              </div>
            </div>
            <!-- 確認按鈕 -->
            <div class="mx-3 mt-auto mb-28">
              <a
                href="#"
                class="btn btn-primary-300 text-primary-950 fw-bold lh-sm py-3 rounded-pill w-100"
                >確認</a
              >
            </div>
          </main>
        </form>

        <!-- 導覽列區塊 -->
        <%- include('./layout/footer_personal'); -%>
      </section>
    </main>

    <script type="module" src="../main.js"></script>
    <script src="../change_page.js"></script>
  </body>
</html>
