// cell-phone

.cell-phone {
  width: 375px;
  height: 812px;
  position: relative;
  overflow: hidden;
}

// spacer

.margin-top--20 {
  margin-top: -24px;
}

.margin-top--50 {
  margin-top: -50px;
}

// h
.h-21 {
  height: 21px;
}

.h-54 {
  height: 54px;
}

.h-70 {
  height: 70px;
}

// max-w

.max-w-100 {
  max-width: 6.25rem;
  width: 6.25rem;
}

.max-w-142 {
  max-width: 8.875rem;
}

.max-w-128 {
  max-width: 8rem;
}

.max-w-165 {
  max-width: 165px;
}

.max-w-175 {
  max-width: 175px;
}

.max-w-211 {
  max-width: 211px;
}

.max-w-211 {
  max-width: 211px;
}

// min-w

.min-w-165 {
  min-width: 165px;
}

// max-h

.max-h-26 {
  max-height: 1.625rem;
  height: 1.625rem;
}

.max-h-54 {
  max-height: 3.375rem;
  height: 3.375rem;
}

// w-h

.w-h-32 {
  width: 2rem;
  height: 2rem;
}

.w-h-62 {
  width: 62px;
  height: 62px;
}

.w-300-h-362 {
  width: 18.75rem;
  height: 22.625rem;
}

// vw

.vw-100 {
  width: 100vw;
}

// vh

.vh-75 {
  height: 75vh;
}

.vh-100 {
  height: 100vh;
}

// border-radius

.border-radius-20 {
  border-radius: $border-radius-20;
}

.border-radius-12 {
  border-radius: $border-radius-12;
}

// hover_focus

// .nav-active {
//   color: $neutral-300;
// }

// .nav-active:hover {
//   color: $primary-500;
// }

.nav-option-btn {
  color: $neutral-300;
  cursor: pointer; /* 手指頭 */
}

.nav-option-btn:hover,
.nav-option-btn:focus,
.btn-check:checked + .nav-option-btn,
.nav-option-btn.active {
  color: $primary-500;
}

// .nav-active {
//   color: $neutral-300;
// }

// .nav-active:focus {
//   color: $primary-500;
// }

.camera-option-btn {
  color: $neutral-800;
  background-color: $neutral-500;
  cursor: pointer; /* 手指頭 */
}

.camera-option-btn:hover,
.camera-option-btn:focus,
.btn-check:checked + .camera-option-btn,
.camera-option-btn.active {
  background-color: rgb(255, 255, 255);
  color: $neutral-800;
}

.breakfast-option-btn {
  background: $tertiary-grey-yellow;
}

.breakfast-option-btn:hover,
.breakfast-option-btn:focus,
.btn-check:checked + .breakfast-option-btn,
.breakfast-option-btn.active {
  background: $secondary-yellow-500;
}

.lunch-option-btn {
  background: $tertiary-grey-orange;
}

.lunch-option-btn:hover,
.lunch-option-btn:focus,
.btn-check:checked + .lunch-option-btn,
.lunch-option-btn.active {
  background: $secondary-orange-500;
}

.dinner-option-btn {
  background: $tertiary-grey-blue;
}

.dinner-option-btn:hover,
.dinner-option-btn:focus,
.btn-check:checked + .dinner-option-btn,
.dinner-option-btn.active {
  background: $secondary-blue-500;
}

.dessert-option-btn {
  background: $tertiary-grey-pink;
}

.dessert-option-btn:hover,
.dessert-option-btn:focus,
.btn-check:checked + .dessert-option-btn,
.dessert-option-btn.active {
  background: $secondary-pink-500;
}

.mind-card {
  color: $primary-800;
  background: $white;
}

.mind-card:hover {
  background: $primary-50;
}

.mind-card:focus {
  background: $primary-50;
}

// background

.bg-camera {
  background-image: url("/assets/images/photo.png");
  background-repeat: no-repeat; /* 不重複 */
  background-position: calc(50% - 40px) calc(50% + 30px); /* 水平+垂直置中 */
  background-size: 200%;
}

// overlay

.camera-overlay::before {
  content: "";
  position: absolute;
  inset: 0; /* top, right, bottom, left 全部 0 */
  background: rgba(0, 0, 0, 0.3); /* 黑色 50% */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Safari 支援 */
  z-index: 0; /* 遮罩層 */
}

.camera-overlay > section {
  position: relative;
  z-index: 1; /* 內容要蓋在遮罩之上 */
  color: white;
}

.overlay-box {
  width: 300px;
  height: 166px;
  position: relative;

  // background: rgba(255, 255, 255, 0.2);

  /* border-top 使用線性漸層 */
  border-top: 3px solid transparent;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.1) 80%
    ),
    /* 背景 */
      linear-gradient(
        to right,
        transparent 5%,
        rgba(255, 255, 255, 1) 50%,
        transparent 95%
      ); /* top border */
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 100% 3px; /* 背景全域, border-top 高度 3px */
  background-position: top left, top left;
}

// loading

.progress-ring {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#0d6efd 0% 0%, #e9ecef 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.progress-ring-inner {
  width: 90px;
  height: 90px;
  background-color: white; /* 中間空心 */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// form_placeholder

.form-control::placeholder {
  font-size: $h6-font-size;
  color: $primary-950;
}

// ---

/* 公用按鈕樣式 */
.custom-btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  transition: background 0.2s;
}

/* 灰色按鈕 */
.custom-btn.gray {
  background: gray;
  color: white;
}
.custom-btn.gray:hover,
.custom-btn.gray:focus {
  background: darkgray;
}
.custom-btn.gray.is-active {
  background: green !important;
}

/* 紅色按鈕 */
.custom-btn.red {
  background: red;
  color: white;
}
.custom-btn.red:hover,
.custom-btn.red:focus {
  background: darkred;
}
.custom-btn.red.is-active {
  background: darkred !important;
}

/* 黃色按鈕 */
.custom-btn.yellow {
  background: gold;
  color: black;
}
.custom-btn.yellow:hover,
.custom-btn.yellow:focus {
  background: orange;
}
.custom-btn.yellow.is-active {
  background: orange !important;
}

/* ul & li 基本樣式 */
.type-group {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.type-group li {
  display: inline-block;
}

.opacity-40 {
  opacity: 40%;
}
